.base-input {
  --accent-color: #dadada;
  --force-width: auto;
  position: relative;
  height: 28px;
  width: var(--force-width);
  &.disabled {
    pointer-events: none;
    filter: opacity(.8);
  }
  &__label {
    display: block;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 5px;
    color: #707070;
    transition: .15s all;
    &.dynamic {
      top: 50%;
      transform: translateY(-50%);
      padding-top: 2.5px;
      position: absolute;
      &.lifted {
        top: -10px;
      }
    }
    &.focused {
      color: rgba(var(--accent-color));
    }
  }
  &__placeholder {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 12px;
    transform: translateY(-50%);
    &.active {
      top: -7px;
    } 
  }
  &__input {
    transition: .15s border-color;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 2px;
    color: #555555;
    &:focus {
      border-color: rgba(var(--accent-color));
    }
    &::-webkit-input-placeholder {
      user-select: none;
    }
  } 
}