.base-input-wrapper {
    --active-color: none;
    --error-color: none;
    --force-width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: var(--force-width);
    margin-top: 12.5px;
    margin-bottom: 16px;
    .base-input-label {
        position: absolute;
        top: 18px;
        transform: translateY(-50%);
        left: 2.5%;
        pointer-events: none;
        transition: .15s all;
        color: #454545;
        &.lifted {
            top: -10px;
            color: #bebebe;
        }
        &.highlight {
            color: rgb(var(--active-color));
        }
        &.error {
            color: rgb(var(--error-color));
        }
    }
    .base-input-error {
        position: absolute;
        display: flex;
        align-items: center;
        transition: .15s color opacity transform;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        opacity: 0;
        small {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.shown {
            transform: translateY(calc(100% + 16px));
            opacity: 1;
        }
        &.highlight {
            color: rgb(var(--error-color));
        }
        &.downlight {
            color: rgba(var(--error-color), .5);
        }
    }
    input { 
        padding: 5px 0 5px 12px;
        width: 100%;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #dadada;
        border-radius: 3px;
        box-sizing: border-box;
        transition: .15s border-color;
        &:focus {
            outline: none;
            border-color: rgb(var(--active-color));
            background-color: rgba(var(--active-color), .05);
        }
        &.error:not(:focus) {
            border-color: rgba(var(--error-color), .5);
            background-color: rgba(var(--error-color), .05);
        }
    }
}