.base-file-badge-wrapper {
  --accent-color: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 40px;
  width: 100%;
  border: 1px solid #dadada;
  padding: 5px 10px;
  border-radius: 4px;
  &.hide {
    display: none;
  }
  small {
    font-size: 10px;
  }
  overflow: hidden;
  .base-file-badge-vertical-line {
    height: 80%;
    width: 1px;
    border-radius: 9999px;
    background-color: #bebebe;
    margin: 0 2px;
  }
  .base-file-badge- {
    &name,
    &size,
    &format {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 20px;
      border-radius: 2px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      small {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
      }
    }
    &name {
      width: 100%;
      color: rgba(var(--accent-color), 1);
      border: 1px solid rgba(var(--accent-color), 0.5);
    }
    &size {
      color: rgba(var(--accent-color), 1);
      small {
        font-size: 12px;
      }
    }
    &format {
      color: rgba(var(--accent-color), 1);
      background-color: rgba(var(--accent-color), 0.2);
    }
    &download,
    &delete {
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        fill: #717171;
        width: 22.5px;
      }
    }
    &download {
      padding-bottom: 3px;
      &:hover {
        svg {
          fill: rgb(var(--accent-color));
        }
      }
    }
    &delete {
      padding-bottom: 1px;
      svg {
        width: 17px;
      }
      &:hover {
        svg {
          fill: rgba(red, 0.65);
        }
      }
    }
  }
}
