.toast-notification {
    --accent-color: none;
    --delay: none;
    --min-width: none;
    --max-width: none;
    position: relative;
    pointer-events: visible;
    padding: 10px 15px;
    cursor: pointer;
    min-height: 43px;
    max-height: 200px;
    max-width: var(--max-width);
    min-width: var(--min-width);
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    background-color: rgb(var(--accent-color));
    transition: .15s all;
    &-content {
        user-select: none;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        &.center-text {
            text-align: center;
        }
    }
    &:hover {
        scale: .985;
        filter: brightness(.9)
    }
    &::after {
        content: '';
        transition: .5s width;
        position: absolute;
        height: 3px;
        right: 0;
        bottom: 0;
        background-color: rgba(var(--accent-color), 1);
        filter: brightness(.7);
        animation: var(--delay) timer linear;
    }
    @keyframes timer {
        0% {
            width: 100%;
        }    
        100% {
            width: 0%;
        }
    }
}
