.overlay-modal-wrapper {
    --accent-color: none;
    --force-width: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    .overlay-modal-inner-component {
        padding-top: 10px;
    }
    .overlay-model-content {
        position: relative;
        background-color: white;
        border-radius: 4px;
        padding: 10px 15px;
        width: var(--force-width);
        max-width: calc(100% - 5px);
        overflow: hidden;
        .overlay-modal-header {
            padding-bottom: 10px;
            border-bottom: 1px solid #dadada;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: calc(100% - 30px);
            }
            svg {
                height: 16px;
                width: 16px;
                cursor: pointer;
                transition: .15s fill;
                &:hover {
                    fill: rgb(var(--accent-color));
                }
            }
        }
        @media (max-width: 600px) {
            width: calc(100% - 5px);
        }
    }
}
.start {
    opacity: 0;
    .overlay-model-content {
        scale: .98;
    }
}
.active {
    transition: .1s opacity;
    .overlay-model-content {
        transition: .1s all;
    }
}
.enter-end {
    opacity: 1;
    .overlay-model-content {
        scale: 1;
    }
}