body {
  .v-enter-active,
  .v-leave-active {
    transform: scale(1);
    transition: all 0.15s ease;
    transition-property: transform, opacity;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
    transform: scale(.98);
  }
}
.popup-helper {
  display: inline-block;
  &__popup {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
  }
  &__target {
    display: inline-block;
  }
}