.progress-bar-wrapper {
  --accent-color: none;
  --percentage: 0%;
  --force-width: none;
  --force-height: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  .progress-bar-path {
    height: 8px;
    border-radius: 9999px;
    min-width: 125px;
    width: var(--force-width);
    height: var(--force-height);
    background-color: rgba(var(--accent-color), 0.2);
    overflow: hidden;
    &.flat {
      background-color: transparent;
    }
    &.outlined {
      border: 1px solid rgb(var(--accent-color));
    }
    .progress-bar-fill {
      transition: 0.15s width;
      width: var(--percentage);
      height: 100%;
      background-color: rgb(var(--accent-color));
    }
  }
}
