.base-accordion-wrapper {
  background-color: #f8f8f8;
  border: 1px solid #dedede;
  display: flex;
  flex-flow: column;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 6px;
  width: 400px;
  min-height: 200px;
  height: auto;
}