.overlay-toast-wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    .overlay-toast-container {
        overflow: hidden;
        right: 0;
        display: flex;
        align-items: end;
        flex-flow: column nowrap;
        gap: 10px;
        padding: 10px;
        min-width: 180px;
        height: 100%;
    }
}
.toast-notification-transition-move,
.toast-notification-transition-enter-active,
.toast-notification-transition-leave-active {
  transition: all .5s ease;
}
.toast-notification-transition-enter-from,
.toast-notification-transition-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.toast-notification-transition-leave-active {
    position: absolute;
}
