.modal-pop-enter-active,
.modal-slide-leave-active {
  transition: all var(--duration) ease;
  .overlay-modal {
    transition: all var(--duration) ease;
  }
}
.modal-slide-enter-to {
  opacity: 1;
  .overlay-modal {
    transform: translateY(0);
  }
}
.modal-slide-enter-from {
  opacity: 0;
  .overlay-modal {
    transform: translateY(15px);
  }
}
.modal-slide-leave-to {
  opacity: 0;
  .overlay-modal {
    transform: translateY(-15px);
  }
}
