* {
  font-family: sans-serif
}
body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.dropdown-default-story {
  height: 200px;
}
.popup-helper-wrapper {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
}
.popup-content {
  padding: 5px 10px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 2px;
  background-color: white;
  font-size: 12px;
}
.popup-helper-ellipsis-menu {
  display: flex;
  flex-flow: column;
  padding: 5px 10px;
  gap: 10px;
}
.popup-helper-link {
  color: blue;
}
