* {
  font-family: sans-serif
}
body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.modal-overlay-default-story {
  display: flex;
  flex-flow: column;
  gap: 25px;
}
.modal-overlay-default-story__components {
  padding-bottom: 20px;
  .base-checkbox {
    padding-top: 10px;
  }
}
.modal-overlay-default-story code {
  color: #505050;
  background-color: #eeeeee;
  padding: 2px 4px;
  border-radius: 4px;
}
.modal-overlay-default-story__form {
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.modal-overlay-default-story__id {
  display: flex;
  gap: 5px;
}
.dropdown-default-story {
  height: 200px;
}
.popup-helper-wrapper {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
}
.popup-content {
  padding: 5px 10px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 2px;
  background-color: white;
  font-size: 12px;
}
.popup-helper-ellipsis-menu {
  display: flex;
  flex-flow: column;
  padding: 5px 10px;
  gap: 10px;
}
.popup-helper-link {
  color: blue;
}


