.base-button {
  --accent-color: #ddd;
  --force-width: auto;
  height: 28px;
  width: var(--force-width);
  padding: 2px 15px;
  box-sizing: border-box;
  border: 1px solid rgba(var(--accent-color), .8);
  border-radius: 2px;
  overflow: hidden;
  transition: .15s all;
  color: white;
  background-color: rgba(var(--accent-color), .7);
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--accent-color), .8);
  }
  &:active {
    background-color: rgba(var(--accent-color));
  }
  &.raised {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .2);
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .3);
    }
    &:active {
        transform: none;
        box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .2);
    }
  }
  &.rounded {
    border-radius: 9999px;
  }
  &.outlined {
    background-color: transparent;
    color: rgba(var(--accent-color));
    &:hover {
      background-color: rgba(var(--accent-color), .2);
    } 
    &:active {
      background-color: rgba(var(--accent-color), 1);
      color: white;
    }
  }
  &.flat {
    border: none;
    background-color: transparent;
    color: rgba(var(--accent-color), .9);
    &:hover {
      background-color: rgba(var(--accent-color), .3);
    } 
    &:active {
      background-color: rgba(var(--accent-color), 1);
      color: white;
    }
  }
}
