.range-input {
  --accent-color: #dadada;
  --fill-percentage: 0;
  background: inherit;
  width: 100%;
  height: 28px;
  position: relative;
  box-sizing: border-box;
  &__input {
    -webkit-appearance: none;
    box-sizing: border-box;
    appearance: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #636363;
    transition: .15s border-color;
    &:active {
      border-color: rgba(var(--accent-color));
    }
    &::-webkit-slider-runnable-track, -moz-range-track {
      height: 6px;
      background-color: transparent;
      border-radius: 4px;
    }
    &::-webkit-slider-thumb, -moz-range-thumb {
      cursor: pointer;
      appearance: none;
      transform: translateY(-35%);
      height: 16px;
      width: 16px;
      background-color: rgba(var(--accent-color));
      border-radius: 50%;
      transition: .15s all;
      &:hover {
        filter: brightness(.9);
        box-shadow: 0 0 1px 10px rgba(var(--accent-color), .5);
      }
      &:active {
        cursor: grabbing;
        box-shadow: 0 0 1px 6px rgba(var(--accent-color), .8);
      }
    }
    &:-moz-focusring{
      outline: 1px solid white;
      outline-offset: -1px;
    }
  }
  &__bckg {
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    width: var(--fill-percentage);
    height: 6px;
    background-color: rgba(var(--accent-color), .5);
  }
}