.accordion-item-wrapper {
  --accent-color: none;
  .accordion-item-body {
    display: grid;
    transition: grid-template-rows 500ms;
    grid-template-rows: 0fr;
    overflow: hidden;
    &>div {
      overflow: hidden;
      transition: .15s padding;
    }
  }
  &.opened {
    .accordion-item-body {
      grid-template-rows: 1fr;
    }
  }
  .accordion-item-header {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgba(var(--accent-color), .5);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    color: #818181;
    &:hover {
      background-color: rgba(var(--accent-color), .05);
    }
    &.opened {
      p {
        color: rgba(var(--accent-color));
      }
    }
    &.closed:hover, &.opened:hover {
      svg {
        fill: rgba(var(--accent-color));
      }
      p {
        color: rgba(var(--accent-color));
      }
    }

    svg {
      height: 16px;
      width: 16px;
      fill: rgba(var(--accent-color), .5);
      transition: .15s all;

      &.opened {
        transform: rotateZ(45deg);
      }
    }

    p {
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: .15s all;
    }
  }
}